@font-face{
	font-family: "Gotham_Book";
	src: url("./fonts/GothamSSm-Book_Web-e9b954c1acc4c263bbf89aa0dc8d10a0.woff2") format("woff2");
}
@font-face{
	font-family: "Gotham_Medium";
	src: url("./fonts/GothamSSm-Medium_Web-d2d6a40637da36a51e9f226810b565db.woff2") format("woff2");
}
@font-face{
	font-family: "Gotham_Bold";
	src: url("./fonts/GothamSSm-Bold_Web-c23a630ddcff179d6e9fc9452af2f3ee.woff2") format("woff2");
}

* {
	// border: 1px dotted red;
	box-sizing: border-box;
}

body{
	background-color: #BCDCE6;
	// font-family: HCo Gotham SSm,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	// font-family: "Gotham_Bold";
    line-height: 1;
}

header {
	display: flex;
	flex: auto;
	justify-content: space-between;
	height: 7rem;

	a {
		animation-delay: 3s;
	}

	svg {
		margin-left: 1.4rem;
		height: 7rem;
	}

	#impact-div {
		margin-right: 9.5em;
		margin-top: 3.5rem;
		// display: flex;
		// flex-direction: column;
		// justify-content: center;
		font-family: "Gotham_Medium";
		font-size: 13px;
		font-weight: 600;
		letter-spacing: 0.15rem;
		animation-delay: 5s;
	}
}

.page-div {	
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: auto;
	
	h1 {
		width: 95%;
		margin-top: 2rem;
		font-family: "Gotham_Medium";
		font-size: 4rem;
		font-weight: 500;
		animation-delay: 1s;

		span {
			font-family: Noto Serif,Georgia,Cambria,Times New Roman,Times,serif;
			font-style: italic;
		}
	}
	
	p {
		width: 57%;
		margin-top: 0.4rem;
		margin-bottom: 5rem;
		font-family: "Gotham_Book";
		font-size: 1.25rem;
		line-height: 1.2;
		animation-delay: 2s;
	}
	
	.button-container {
		display: flex;
		width: 45%;
		height: 5rem;
		text-align: center;
		margin-top: 1rem;
		font-family: "Gotham_Medium";
		// font-size: 1.5rem;
		border: 2px solid black;
		border-radius: 3rem;
		animation-delay: 4s;
		
		.page-button {
			width: 60%;
			margin: auto;
			line-height: 1.4;
		}
	}

}

.animated {
	opacity: 0;
	animation-duration: 1s;
	animation-name: pulse;
	animation-fill-mode: forwards;
}

@keyframes pulse{
	0%{
		opacity:0
	}
	33%{
		opacity:0.15
	}
	66%{
		opacity:0.4
	}
	100%{
		opacity:1
	}
}
